body{
    font-family: 'Poppins', sans-serif;
}
.players{
     
   
   background-color: rgb(180, 171, 87);
   margin:100px ;
   


}

.container-box{
    display: flex;
   width: 100%;
   margin: 100px;
   
    }
    .live{
        background-color: rgba(188, 221, 42, 0.952);
    }
    .container-box img{
        width: 100%;
        margin: 20px;
        
    }
    .container-box img:hover{
        border: 5px solid rgb(217, 255, 0);   
    }
    .text-box{
        margin-top: 2px;
        width: 50%;
        color: white;
        font-size: 54px;
    }
       
         .text-box:hover
         {
              border: 4px solid rgba(0, 204, 255, 0.897);
         }